<% include ../views/particials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <form method="post" action="/todo/add">
                <div>
                    <label >ToDO Name</label>
                    <input type="text"  name="title" placeholder="Add Title">
                </div><br>

                <div>
                    <label >Description</label>
                    <textarea  name="description"  placeholder="Add Description"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
                <ul>
                    <% todos.forEach(function(todos){ %>
                    <!--<li><%= todos.text %> - <%= todos.body %> &nbsp; &nbsp; <a href="/todos/delete/<%= todos._id %>" class="btn btn-danger">Delete </a></li>-->
                    <li><%= todos.text %> - <%= todos.body %> &nbsp; &nbsp; <a href="#" data-id="<%= todos._id %>" class="delete-todo btn btn-danger">Delete </a></li>

                <% }); %>
                </ul>

        </div>
    </div>
</div>    

<% include ../views/particials/footer %>